/* Global variables */
/* ======================================================================== */
$main_font_family: "Montserrat";
$second_font_family: "Montserrat";
$main_line_height: 1.2;
$main_font_size: 1em;

$container_width: 79.25em;
$container_width_sm: 75.75em;

$footer_height: auto;

// Color collection for elements
$main_color: #9F9F9F;
$color_primary: #333333;

$color_warning: #B88E2F;
$color_warning_light: #faf3ed;


$color_success: #36a566;
$color_info: #03a9f4;
$color_danger: #ff1a1a;

$color_white: #ffffff;
$color_black: #000000;


// $color1: #e5d4b6;
// $color2: #d8bd92;
// $color3: #c99551;
// $color4: #af5039;
// $color5: #c09f82;


// $color6: #eae7e4;
// $color6: #d0c2b8;
// $color6: #bfbcb9;
// $color6: #93918d;
// $color6: #3b3631;


/* Grid */
/* ======================================================================== */
$grid_padding: 1.25em;
/* 20/16 */

/* Form */
/* ======================================================================== */
// Input variables

// Input color
$input_color: $main_color;
$input_bg_color: #fff;
$input_border_color: #ddd;
$input_placeholder_color: #ddd;

// Input hover color
$input_hover_color: $main_color;
$input_hover_bg_color: $input_bg_color;
$input_hover_border_color: $input_border_color;
$input_hover_placeholder_color: $input_placeholder_color;

// Input focus color
$input_focus_color: $main_color;
$input_focus_bg_color: $input_bg_color;
$input_focus_border_color: $input_border_color;
$input_focus_placeholder_color: $input_placeholder_color;

// Input disabled color
$input_disabled_color: #fff;
$input_disabled_bg_color: #ccc;
$input_disabled_border_color: #ccc;
$input_disabled_placeholder_color: #fff;

// Input error color
$input_error_color: red;
$input_error_bg_color: $input_bg_color;
$input_error_border_color: red;
// $input_error_placeholder_color: red;

// Button variables
$btn_default_bg_color: #ddd;
$btn_default_text_color: $main_color;
$btn_contrast_text_color: $color_white;
$btn_default_bg_color_hover: darken($btn_default_bg_color, 7%);
$btn_default_bg_color_active: darken($btn_default_bg_color, 10%);