.soc {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2.125em;

    &__item {


    }

    &__link {
        text-decoration: none;
        color: $main_color;
        font-size: 1.375em;
        font-weight: 500;
    }
}