footer.footer
    .footer__content
        .footer__row
            a.footer__logo(href="/")
                img(src="/img/logo_footer.svg", alt="Logo")
        .footer__row
            .footer__links 
                a(href="#") Москва, ул. Ленина, 123
                a(href="#") Телефон: +(123) 456 - 7890
                a(href="#") Email: test@select-themes.com

            //- .footer__soc
            //-     ul.soc 
            //-         li.soc__item
            //-             a.soc__link(href="#") Facebook

            //-         li.soc__item
            //-             a.soc__link(href="#") Twitter
            //-         li.soc__item
            //-             a.soc__link(href="#") Youtube

        //- .footer__row
        //-     .footer__form
        //-         form.form(action="send.php")
        //-             .form__row
        //-                 input(type="text", required placeholder="Введите адрес электронной почты")
        //-             .form__btn
        //-                 button.btn(type="submit") Отправить

        //- p <script type="text/javascript">document.write(new Date().getFullYear());</script>

