footer.footer
    .footer__content
        .footer__row
            a.footer__logo(href="/")
                img(src="/img/logo_footer.svg", alt="Logo")
        .footer__row
            .footer__links 
                a(href="#") Москва, ул. Ленина, 123
                a(href="#") Телефон: +(123) 456 - 7890
                a(href="#") Email: test@select-themes.com

            .footer__soc
                .soc 
                    .soc__link
                        i.soc__icon.icon_facebook
                        a.soc__label.facebook(href="#") facebook
                    .soc__link
                        i.soc__icon.icon_instagram
                        a.soc__label.instagram(href="#") instagram
                    .soc__link
                        i.soc__icon.icon_youtube
                        a.soc__label.youtube(href="#") youtube

        //- .footer__row
        //-     .footer__form
        //-         form.form(action="send.php")
        //-             .form__row
        //-                 input(type="text", required placeholder="Введите адрес электронной почты")
        //-             .form__btn
        //-                 button.btn(type="submit") Отправить

        //- p <script type="text/javascript">document.write(new Date().getFullYear());</script>

