header.header
    .header__content
        .header__row 
            .header__col.logo
                a(href="/")
                    img(src="/img/logo.png", alt="alt")

            .header__col.nav
                nav.navbar#navbar
                    ul.menu
                        li.menu-item.current-menu-item
                            a(href="#") Главная
                        li.menu-item
                            a(href="#") Магазин
                        li.menu-item
                            a(href="#") О нас
                        li.menu-item
                            a(href="#") Контакты

                    ul.action.list.mobile
                        li 
                            a(href="#")
                                i.icon_man 
                        li 
                            a(href="#")
                                i.icon_loupe 
                        li 
                            a(href="#")
                                i.icon_heart 
                        li 
                            a(href="#")
                                i.icon_cart 

            .header__col.desktop
                ul.action.list
                    li 
                        a(href="#")
                            i.icon_man 
                    li 
                        a(href="#")
                            i.icon_loupe 
                    li 
                        a(href="#")
                            i.icon_heart 
                    li 
                        a(href="#")
                            i.icon_cart 
                

            .header__toggle
       
            

        

        
                        
        
            
