//- outofstock instock sale
.product.instock
    .product__sell.img
        img(src="../../img/sell.svg" alt="image" loading="lazy")
        span -15%


    .product__header
        a(href="#").product__img.img
            img(src="../../../img/firstscreen_1.webp" alt="image" loading="lazy")

    .product__body.product_padding
        .product__head
            .product__code Код товара: 012 452

            //- Под заказ В наличии 
            .product__boolean В наличии

        a(href="#").product__title Название товара в несколько строк
        //- ul.product__cat.list
        //-     each item in [{label: 'Параметр:', val: 'Значение'}, {label: 'Параметр 2:', val: 'Значение'}, ]
        //-         li
        //-             span=item.label
        //-             span=item.val
    .product__footer.product_padding
        .product__price
            del
                span.woocommerce-Price-amount.amount
                    bdi 2 200 <span class="woocommerce-Price-currencySymbol">₽<span>
            ins
                span.woocommerce-Price-amount.amount
                    bdi 2 000 <span class="woocommerce-Price-currencySymbol">₽<span>
        .product__button
            a.btn(href="#")
                span Купить
                i.icon_basket
    



        //- .product__action
        //-     a.product__compare(href="#")
        //-     a.product__liked(href="#")
