//- outofstock instock sale
.product.outofstock
    .product__sell.img
        img(src="../../img/sell.svg" alt="image" loading="lazy")
        span -15%

    .product__header
        a(href="#").product__img.img
            img(src="../../img/product_3.png" alt="image" loading="lazy")
    .product__body
        .product__head
            .product__code Код товара: 012 452

            //- Под заказ В наличии 
            .product__boolean Под заказ
        a(href="#").product__title Звуковая плата Arduino MXC-40
        ul.product__cat.list
            each item in [{label: 'Чип:', val: 'ARD-234'}, {label: 'Мощность:', val: '20Вт'}, {label: 'Применение:', val: 'Проф. область'}, ]
                li
                    span=item.label
                    span=item.val
    .product__footer
        .product__price
            del
                span.woocommerce-Price-amount.amount
                    bdi 2 200 <span class="woocommerce-Price-currencySymbol">₽<span>
            ins
                span.woocommerce-Price-amount.amount
                    bdi 2 000 <span class="woocommerce-Price-currencySymbol">₽<span>
        .product__button
            a.btn(href="#") 
                span Подробнее
                i.icon_info

        .product__action
            a.product__compare(href="#")
            a.product__liked(href="#")
